.container {
	max-width: 1200px;
	position: relative;
	margin: 60px auto;
	padding: 0 20px;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: 0;
	left: 20px;
	bottom: 0;
	right: 20px;
	z-index: 100;
}

.item {
	flex-basis: 10%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.item:not(div) {
	transition: all 0s;
	cursor: pointer;

	&:hover {
		animation: example 3s forwards infinite;
	}
}

.sold {
	position: relative;
	background-color: #040479;

	div {
		transition: opacity 0.2s;
		pointer-events: none;
	}

	p {
		position: absolute;
		opacity: 0;
		transition: opacity 0.2s;
	}

	&:hover {
		div {
			opacity: 0.5 !important;
		}
		p {
			opacity: 1;
		}
	}
}

@supports (backdrop-filter: blur(15px)) or (-webkit-backdrop-filter: blur(15px)) {
	.blurredStyle {
		backdrop-filter: blur(15px);
		background-color: transparent;
	}
}

@supports not (backdrop-filter: hue-rotate(0deg)) {
	.item:not(div) {
		transition: all 0.3s;
		background-color: 'transparent';
		&:hover {
			animation: none;
			background-color: rgba(#6d0052, 0.4);
		}
	}
}

@keyframes example {
	0% {
		backdrop-filter: hue-rotate(0deg);
	}
	50% {
		backdrop-filter: hue-rotate(420deg);
	}
	100% {
		backdrop-filter: hue-rotate(0deg);
	}
}
