.container {
    max-width: 1200px;
    position: relative;
}

.grid {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(yellow, .2);
    z-index: 100;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.item {
  
}

.blurredStyle {
    backdrop-filter: blur(200px);
}