.footer {
  padding: 3.2rem 0;
  font-size: 1.6rem;
  background-color: #6583c6;
  text-align: center;
}

.nav { 

  a {
    margin: 0 2rem;
  }
}

@media only screen and (max-width: 900px) {

} // end of whenMedium